<html lang="en">
<head>

  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" type="text/css">
  <meta charset="utf-8">
  <title> Predicting Fraud t</title>
  <meta name="description" content="Predicting Fraud">
  <meta name="author" content="Galvanize DSI">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='app.js') }}"></script>


</head>

<body>

    <h1> Predicting Fraud </h1>

    <div>
        <h2>Fraud Prediction </h2>
        <table id="prediction-table"></table>
    </div>

    <div>
        <button id="btn-load">Refreshed Data</button>&nbsp;
    </div>

</body>
</html>
