<!-- <html lang="en">
<head>
  <meta charset="utf-8">
<html xmlns="http://www.w3.org/1999/xhtml"> -->
<head>
  <title> Predicting Fraud t</title>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
  <link rel="stylesheet" href="../static/layout/styles/layout.css" type="text/css" />
  <meta name="description" content="Predicting Fraud">
  <meta name="author" content="Galvanize DSI">
  <link rel="stylesheet" type="text/css" href="../static/main.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script type="text/javascript" src="../static/app.js"></script>
</head>

<body>
  <div class="wrapper col1">
    <div id="header">
      <div class="fl_left">
        <h1><a href="index.html">Predicting Fraud</a></h1>
        <p>A Case Study</p>
      </div>
      <br class="clear" />
    </div>
  </div>

    <h1> </h1>

    <div>
        <h2></h2>
        <table id="prediction-table"></table>
    </div>

    <div>
        <button id="btn-load">Load Data 1</button>&nbsp;
    </div>

</body>
</html>
